body {
	font-family: Arial;
	font-size: 26px;
}

form {
	width: 45%;
	max-width: 500px;
	margin: auto;
	background: #e6e6e6;
}

.img-container {
	text-align: center;
	margin: 100px
}

img {
	width: 45%;
}

input {
	width: 100%;
	min-width: 200px;
	padding: 20px;
	margin: 10px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	border-radius: 10px;
}

button {
	background-color: #be1e48;
	color: white;
	padding: 14px 20px;
	margin: 25px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	text-transform: uppercase;
	border-radius: 10px;
	font-size: 26px;
}

button:hover {
	opacity: 0.8;
}

.container {
	padding: 40px;
}

@media only screen and (max-width: 700px) {
	form, img {
		width: 100%;
	}
}



