.nav {
  display: flex;
  justify-content: center;
}

.link {
  color: grey;
  margin: 0 1rem;
  padding: 1rem;
  text-decoration: none;
  transition: 200ms;
}

.link:hover {
  color: black;
}

.link.active {
  color: black;
}
